<base href="/">

<link   rel="stylesheet" type="text/css" href="/css/layout.css">
<a href="/"><h4>Back To Home Page</h4></a>
<h1>
    Codial : Profile Page
</h1>
<p><%=name.name%></p>
<p><%=name.email%></p>
<p><%=name.avatar%></p>


<% if (locals.user.id==name.id){%>
    <form action="/user/addpost" method="POST">
        
        <h2> Add a Post</h2>
        <textarea cols="30" rows="3" name="posts" placeholder="Your post goes here"></textarea>
        <button type="submit">Add</button>
    </form>
    <br>
    <br>

    <img src="<%=name.avatar%>" alt="lol" width="100" >

    <form action="/user/update/<%=name.id%>" enctype="multipart/form-data" method="POST">
        <input name="name" placeholder="name" >
        <input name="email" placeholder="email">
        <input type="file" name="avatar" placeholder="choose file">
        <button type="submit">Update</button>
    
    </form>
<%}%>
<!--  View posts by the profile-->


<% for (post of posts){%>

    <%=post.content%>
    <br>
    <h4>Comments</h4>
    <% for (comment of post.comments){%>
        <%=comment.content%>
        <br>
     <%} %>
     <h1>-------------------------------------------------------</h1>
     <br>
     <br>


    
    
    
    
    
<%} %>

